.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    &__options{
        font-family: 'DM Sans', sans-serif;
        text-transform: uppercase;
        font-size: 0.9375rem;
        letter-spacing: 0.1563rem;
        font-weight: 700;
        position: absolute;
        top: 48px;
        left: 0;
        background-color: white;
        width: 100vw;
        text-align: center;
        padding-top: 2.5rem;
        padding-bottom: 2rem;
        transform:translateX(100vw);
        transition-property: transform;
        transition-duration: 1s;

        &--show{
            transform: translateX(0);
            transition-property: transform;
            transition-duration: 1s;
        }
    }
    &__decoration{
        margin: auto;
        margin-top: 1rem;
        margin-bottom: 1rem;
        width: 85%;
        height: 1px;
        background-color: rgba(0, 0, 0, 0.364);
    }

    &__item{
        padding: .5rem;

        &--black{
            background-color: black;
            color: white;
            width: 85%;
            margin: auto;
            padding: 1rem;
        }
    }
}






